<!DOCTYPE html>
<html lang="EN">


<head>
    <script>"https://cdn.socket.io/socket.io-4.4.1.min.js"</script>
    <script src="/socket.io/socket.io.js"></script>

</head>

<body>
    <input type="text" class="message">
    <button onclick="sendMessage()">Send Message</button>
    <h1></h1>
    <script>

        const socket= io('http://localhost:3010')
        socket.on('connection')
      //  ,() => {console.log()})
    

      socket.on('message',(data)=> {
          document.querySelector('h1').innerHTML=data
      })
        const sendMessage= () => {
            const messageInput=document.querySelector('.message')
            const message=messageInput.value
            socket.emit("message",message)
        }
        
    </script>
</body>

</html>